#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=false
Icon=/usr/local/share/neptune-triton-1.1/neptune.icon.png
Exec=neptune11
Name=Neptune 1.1.0 - fractal explorer
Categories=Graphics;Math;

Name[en_GB]=Neptune 1.1.0 - fractal explorer
